*{
    padding: 0%;
    margin: 0%;
    font-family:sans-serif, Verdana, Geneva, Tahoma;
}
body{
    background: #000;
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-between;
}
#logo{
    width: auto;
    height: 60px;
    margin: 20px 90px;
    margin-bottom: 0px;
    cursor: pointer;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-right: 90px;
    list-style: none;
}
nav ul li{
    margin: 20px;
    font-size: 18px;
    transition: 0.3s;
}
a{
    text-decoration: none;
    color: aliceblue;
}
li:hover a{
    color: rgb(119, 100, 75);
    
}
li:hover{
    scale: 1.3;
    transition: 0.3s;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
#displayphone{
    height: 400px;
    width: auto;
}
.pic{
    margin: auto;
    
}
.text{
    margin: auto;
    width: 40%;
}
p{
    margin: 20px 0px;
    font-size: 16px;
}
h2{
    font-size: 35px;
}
button{
    background: #FFF;
    font-size: 20px;
    padding: 5px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
    border:none;
}
button:hover{
    scale: 1.2;
}
#footer{
    display: flex;
    justify-content: center;
}
.phonecolor{
    height: 100px;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.4s;   
}

div .phonecolor:hover{
    scale: 1.3;  
}
@media (max-width:1023px) and (min-height:1000px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    nav{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #logo{
        width: auto;
        height: 100px;
        margin: 20px 90px;
        margin-bottom: 0px;
        cursor: pointer;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        margin: auto;
        margin-top: 25px;
        list-style: none;
    }
    nav ul li{
        margin: 20px;
        font-size: 35px;  
    }
    .container{
        display: flex;
        padding-top: 90px;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
    }
    #displayphone{
        height: 700px;
        width: auto;
    }
    .pic{
        margin: auto;
        
    }
    .text{
        margin: auto;
        width: 40%;
    }
    p{
        margin: 20px 0px;
        font-size: 40px;
    }
    h2{
        font-size: 50px;
    }
    button{
        background: #FFF;
        font-size: 35px;
        padding: 5px;
        height: 100px;
        width: 300px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.4s;
        border:none;
    }
    .phonecolor{
        height: 200px;
        margin: 0px 5px;
        cursor: pointer;
        transition: 0.4s;   
    }
    #footer{
        margin-top: 30%;
    }
    #select{
        font-size: 35px;
    }
}
